* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 60em; /* = 960px = 1080px fartölvusskjár*/
    background-color: rgb(141, 146, 134);
    color:white;
    font-family: 'Inconsolata', monospace;
}
/* -- GRID AREA -- hnit */
.haus {
    grid-area: haus;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3em;
}
.container {
    grid-area: main;
}
.topnav  {
    grid-area: topnav;
}
.foot {
    grid-area: foot;
}
/* dalkar í container */
.as1 {
    grid-area: as1;
    padding-right: 1em;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/* -- Grid template area -- */
.body {
    display:grid;
    grid-gap:1em;
    grid-template-areas: 
       "topnav"  
       "haus"
       "main"
       "foot"
}
/* -- innri tög i main-- */
.main {
    display:grid;
    grid-gap:1em;
    grid-template-areas: 
        "art1 art1"
        "as1 as2";
        grid-template-columns: 1.6fr 1fr;
}
/* -- flex box --*/
.topmenu, .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin:10;
    padding:1em;
    background-color: #ddd
} 
.topmenu li, .footmenu li {
   list-style-type: none
}