* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Open Sans' sans-serif; /* samsett skipun: weight/height, size, family */
    background-color: blue;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
blockquote {
    /*background-color: rgba(30, 128, 51, 0.5);*/
    color: #fff;
    padding: 1em;
}
.container {
    margin: 0 ;
    padding: 0.5em;
}
.headcolor, .footcolor {
    color: #fff;
}
.bgcolor {
    /*background: linear-gradient(to top,rgb(240,202,152), rgb(255,255,255));*/
    background: red;
    padding: 1em;
}
.bgcolor2 {
    background: linear-gradient(to bottom,rgb(240,202,152), rgb(255,255,255));
    padding: 1em;
}
/*.vheight {
    height: 100vh ;
}*/
.topnav a, .footnav a {
    color:bisque;
    text-decoration: none;
}
.topnav a:hover, .footnav a:hover {
    text-decoration: underline;
}
.topnav {
    margin-top: 3em;
}
.topnav a{
    padding-left: 2em;
}
.footnav li {
    list-style-type: none;
    line-height:2;
}
.footnav {
    padding: 0;
}
.title {
    padding: 2em 0 0 0;
}
.verkefni {
    text-align: right;
}
.marginb {
    margin-bottom: -1;
}
.innermenu {
    display: flex;
    justify-content: center;
}
.innermenu a {
    color:bisque;
    background-color:rgb(12, 12, 131);
    padding: .5em 1em;
    margin-top:1em;
    text-decoration: none;
    border-right: 1px solid #fff;
}
.innermenu a:last-child {
    border: 0;
}
.innermenu a:hover, .innermenu a:active {
    color: rgb(12, 12, 131);
    background-color: bisque;
}
.topbutt {
    display:block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;

    padding-bottom: 0.2em;
    border: 2px solid rgb(12, 12, 131);
    color: rgb(12, 12, 131);
    font-size: 1.5em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    background-color: bisque;
}
/* grid */

}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footcol-3 {
    display: grid;
    grid-template-columns: 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 6em 4em;
}
img {
    max-width: 100%;
    
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
audio {
    width: 10em;
}
.kort {
   /* width: 100%;
    height: 15em;
    margin-top: 2em;*/
}
/************* 60 em vidmid *****************/

@media screen and (min-width:60em) {
    .container {
        max-width: 60em; /*960px = fartölvur*/
        margin: 0 auto; /* top+bottom og left+right */
        padding: 0;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footcol-3 {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    .col-4 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .gap-4 {
        grid-gap: 1em 4em;
    .mtop8em {
         
    }
    }
}
