{
box-sizing: border-box;
}
body {
  border: 2px solid blue;
  margin: 1em auto;
  padding: 1em;
  width: 50em;
}
.bigL {
  float: left;
  font-size: 4em;
}
.imgR {
  float: right;
  width: 12em;
  padding-left: .5em;
}
.box {
  float: left;
  width: 50ex;
  padding : 1em;
  border: 1px solid;
}
/* CLEARFIX */
.group:before, .group:after {
  content: "";
  display: table;
}
.group: {
    clear:both;
}
h2:{
  color: yellow
}