body {font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color: lightgreen;
  border: 2px solid blue;
  margin: 1em auto;
  padding: 1em;
  width: 50em;
}
h1 {color: brown

}
h2{color: aqua}
h3{color: blue}
li{color: chartreuse}
li1{color: chocolate}
l3{color: crimson}
em{color: black}
strong{color: maroon}
l6{color: seagreen}
l7{color: gold}