body {font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color: lightgreen;
  border: 2px solid blue;
  margin: 1em auto;
  padding: 1em;
  width: 50em;
}
h1 {color: brown}
h2{color: black}
h3{color: blue}
li{color: chartreuse}
li1{color: chocolate}
l3{color: crimson}
em{color: black}
strong{color: maroon}
l6{color: seagreen}
l7{color: gold}
/* pseudo classes*/

a:hover{
text-decoration: underline;
background-color: pink;
padding: 3px;
}

a:visited{
color: blue
}
a:active{
  color: red
}
<h9 onmouseover="style.color:red 'red'" onmouseout="style.color='blue'"></h9>
